.my-bg-color1 {
    background-color: rgb(101, 212, 255)!important;
}
.my-bg-color2 {
    background-color: red!important;
}
.my-txt-color1 {
    color: #f4e361!important;
}
.my-txt-color2 {
    color: #fd703d!important;
}
.my-txt-color3 {
    color: #e71414!important;
}
h1 {
    color: rgb(101, 34, 12);
}

